certifi==2017.7.27.1
chardet==3.0.4
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.5
djangorestframework==3.6.4
docutils==0.14
feedparser==5.2.1
idna==2.6
Kivy==1.10.0
Kivy-Garden==0.1.4
kivy.deps.angle==0.1.6
kivy.deps.glew==0.1.9
kivy.deps.gstreamer==0.1.12
kivy.deps.sdl2==0.1.17
nltk==3.2.4
oauthlib==2.0.4
Pygments==2.2.0
pypiwin32==220
python-decouple==3.1
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.10.0
static3==0.7.0
tweepy==3.5.0
urllib3==1.22
virtualenv==15.1.0
